.jobs{
      padding-top: 50px;
      padding-bottom: 50px;
}

.filter h3{
      font-size: 20px;
      margin-bottom: 25px;
      color: #001D38;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
}

.btn_filter{
      width: 100%;
      background: #00D363;
      color: #fff;
      display: inline-block;
      padding: 13px 29px 13px 29px;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 500;
      border: 0;
      border: 1px solid transparent;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      text-align: center;
      color: #fff !important;
      text-transform: capitalize;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      cursor: pointer;  
}

.btn_filter:hover{
      color: #00D363 !important;
      border: 1px solid #00D363;
      background: transparent;
}

.job_list_text{
      padding: 20px 20px;
      margin-bottom: 20px;
}

.job_list_text h4{
      font-size: 20px;
      font-weight: 500;
      color: #001D38;
      margin-bottom: 0;
      font-family: "Roboto", sans-serif;
}

.tick{
      border-radius: 5px;
      border: none;
      background-color: #00D363;
      color: white;
      height: 40px;
      width: 40px;
      font-size: 20px;
      transition: opacity .2s;
      margin: 0 0 5px 5px;
}

.close{
      border-radius: 5px;
      border: none;
      background-color: rgb(233, 58, 58);
      color: white;
      height: 40px;
      width: 40px;
      font-size: 20px;
      transition: opacity .2s;
      margin: 0 0 5px 5px;
}

.tick:hover,.close:hover{
      opacity: 0.7;
}